# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [34]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
#from config import weather_api_key
# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [35]:
#city_data_df = pd.read_csv("output_data/cities.csv")

In [36]:
#city_data_df.to_csv(output_data_file, index_label="City_ID")
output_data_file = "output_data/cities.csv"
city_data_pd = pd.read_csv(output_data_file)
city_data_pd.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05

In [37]:
#city_data_pd.head()

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [38]:

gmaps.configure(g_key)
location = city_data_pd[["Lat", "Lng"]]
weight = city_data_pd["Humidity"]

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [39]:
narrowed_city = city_data_pd.loc[(city_data_pd["Max Temp"] < 85) & (city_data_pd["Max Temp"] > 75) \
                                    & (city_data_pd["Wind Speed"] < 10) \
                                    & (city_data_pd["Cloudiness"] == 0)].dropna()
narrowed_city

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
88,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50
125,125,arraial do cabo,0,BR,1558378491,78,-22.97,-42.02,84.20,4.70
138,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06
139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59
176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93
316,316,gunjur,0,GM,1558378848,61,13.18,-16.76,80.60,9.17
518,518,bonito,0,BR,1558378893,49,-21.13,-56.49,84.30,7.72
527,527,tomatlan,0,MX,1558378894,59,19.93,-105.25,84.66,7.90
543,543,yabrud,0,SY,1558378840,32,33.97,36.66,80.60,8.05

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [43]:
hotel_df = narrowed_city[["City_ID", "City", "Country", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.reset_index(drop=True)

   City_ID             City Country    Lat     Lng Hotel Name
0       88         cidreira      BR -30.17  -50.22
1      125  arraial do cabo      BR -22.97  -42.02
2      138        morondava      MG -20.30   44.28
3      139            vaini      IN  15.34   74.49
4      176            nador      MA  35.17   -2.93
5      316           gunjur      GM  13.18  -16.76
6      518           bonito      BR -21.13  -56.49
7      527         tomatlan      MX  19.93 -105.25
8      543           yabrud      SY  33.97   36.66

In [44]:
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map